<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Cart</title>
</head>

<body>

<th:block layout:fragment="content">

    <div class="well well-sm">
        <div id="inner-box">
            <strong id="review-label">Cart Review</strong>
            <table th:if="${#lists.size(items) > 0}" class="table table-hover" id="review-table">
                <thead>
                <tr>
                    <th class="center">Remove</th>
                    <th class="center">Image</th>
                    <th class="center">Product</th>
                    <th class="center"></th>
                    <th class="right subtotal-width"></th>
                    <th class="right price-width">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}" th:object="${item}" th:attr="id=*{'line-item-' + productId}">
                    <td class="center">
                        <img class="remove-img" th:attr="data-product-id=*{productId}" src="/assets/remove.png" alt="DEL" />
                    </td>
                    <td class="center">
                        <img class="cart-img" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/' + *{productImage}" alt="IMG" />
                    </td>
                    <td th:text="*{productName}" class="center">Light Sabre from Star Wars</td>
                    <td></td>
                    <td></td>
                    <td class="right price-width" th:text="*{#numbers.formatDecimal(actualPrice, 0, 'COMMA', 2, 'POINT')} + ' USD'">200 USD</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="total center">Total</td>
                    <td id="total-total" class="right subtotal-width total" th:text="${grandTotal + ' USD'}">11111111 USD</td>
                </tr>
                </tfoot>
            </table>
            <div th:if="${#lists.size(items) == 0}">
                <span id="empty-cart-label">Your cart is empty!</span>
            </div>
            <div>
                <a href="/" class="btn btn-default">Continue Shopping</a>
                <a th:if="${#lists.size(items) > 0}" id="proceed-to-checkout" href="/checkout" class="btn btn-success push-right">Proceed to Checkout</a>
            </div>
        </div>
    </div>

</div>

</th:block>

</body>

</html>
