<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Products</title>
</head>

<body>

<th:block layout:fragment="content">

    <!-- TODO: this can be used for category selection if needed -->
    <div class="well well-sm text-center row">

        <form class="text-center" id="list-by-category" action="/filter" method="GET" class="form form-inline">
            <label for="category-selection">Choose a category:</label>
            <select class="form-control" id="category-selection" name="category" onchange="this.form.submit()">
                <option value="">-- all products --</option>
                <option th:each="type : ${types}" th:attr="value=${type}" th:text="${type}"
                        th:selected="(${categoryFilter} == ${type}) ? 'selected' : 'false'">Categories
                </option>
            </select>
        </form>

    </div>

    <div id="products" class="row list-group equal">

        <div class="col-xs-12 col-sm-4 col-lg-4 " th:each="prod : ${products}">
            <div class="thumbnail card">

                <!-- Product Image-->
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/img/' + ${prod.imageFileName}" alt="">
                <a th:href="'products/' + ${prod.id}">

                    <div class="caption">

                        <!-- Product Name -->
                        <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                        <!-- Product Description -->
                        <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                            description... </p>

                        <div class="row">

                            <!-- Product Unit Price -->
                            <div class="text-left col-xs-12">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>


                        </div>


                    </div>
                </a>
                <!-- Add to Cart button (shown only if logged in) -->
                <div th:if="${loggedIn}" class="text-center" th:id="${'product-id-' + prod.id}">
                    <button class="btn btn-primary add-to-cart" th:attr="data-product-id=${prod.id}">Add to cart
                    </button>
                </div>
            </div>

        </div>
    </div>

</th:block>

</body>

</html>
