<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Profile</title>
</head>

<body>

<th:block layout:fragment="content">

    <div class="well well-sm">
        <strong>Profile</strong>
    </div>

    <div id="profile" class="row list-group well">

        <div class="col-xs-12 col-lg-12">

            <div class="row">

                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 text-left">

                        <div th:if="${success}" id="success-messages" class="alert alert-success">
                            <th:block th:each="message : ${success}">
                                <p th:text="${message}"></p>
                            </th:block>
                        </div>

                        <div th:if="${errors}" id="error-messages" class="alert alert-danger">
                            <p>You have the following errors:</p>
                            <ul th:each="error : ${errors}">
                                <li th:text="${error}"></li>
                            </ul>
                        </div>

                        <form th:action="@{~/profile}" method="POST">

                            <div class="form-group">
                                <label class="form-control-label" for="phone">Phone number:</label>
                                <input class="form-control" id="phone" placeholder="XXX-XX-XXXXXXXXXX" name="phone" th:value="${user.phone}" required title="> 10 chars">
                            </div>

                            <br>

                            <h4 class="text-left"><strong>Billing Address</strong></h4>
                            <div class="form-group">
                                <label class="form-control-label" for="bill-country">Country:</label>
                                <input class="form-control" id="bill-country" placeholder="Country Name" name="billingCountry" th:value="${user.billingCountry}" required title="> 5 chars">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="bill-city">City:</label>
                                <input class="form-control" id="bill-city" placeholder="City Name" name="billingCity" th:value="${user.billingCity}" required title="> 5 chars">
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="bill-zip">Zip:</label>
                                <input class="form-control" id="bill-zip" placeholder="Zip Code" name="billingZipCode" th:value="${user.billingZipCode}" required title="> 3 chars">
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="bill-address">Address:</label>
                                <input class="form-control" id="bill-address" placeholder="Address" name="billingAddress" th:value="${user.billingAddress}" required title="> 5 chars">
                            </div>

                            <br>

                            <h4 class="text-left"><strong>Shipping Address</strong></h4>
                            <div class="form-group">
                                <label class="form-control-label" for="ship-country">Country:</label>
                                <input class="form-control" id="ship-country" placeholder="Country Name" name="shippingCountry" th:value="${user.shippingCountry}" required title="> 5 chars">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="ship-city">City:</label>
                                <input class="form-control" id="ship-city" placeholder="City Name" name="shippingCity" th:value="${user.shippingCity}" required title="> 5 chars">
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="ship-zip">Zip Code:</label>
                                <input class="form-control" id="ship-zip" placeholder="Zip Code" name="shippingZipCode" th:value="${user.shippingZipCode}" required title="> 3 chars">
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="ship-address">Address:</label>
                                <input class="form-control" id="ship-address" placeholder="Address" name="shippingAddress" th:value="${user.shippingAddress}" required title="> 5 chars">
                            </div>

                            <div class="text-center">
                                <a class="btn btn-default" th:href="@{~/}">Back</a>
                                <input class="btn btn-success" type="submit" value="Submit">
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

</th:block>

</body>

</html>
