<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Summary</title>
</head>

<body>

<th:block layout:fragment="content">

<div class="well well-sm">
    <strong>Summary</strong>
</div>

<div id="summary" class="row list-group">

    <div class="col-xs-12 col-lg-12">

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="well well-sm">
                    <strong>Cart</strong>
                </div>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Product Name</th>
                        <th></th>
                        <th></th>
                        <th>Unit Price</th>
                    </tr>
                    <th:block th:if="${order}">
                        <tr th:each="item : ${order.items}" th:object="${item}">
                            <td th:text="*{getProductName()}">Light Sabre from Star Wars</td>
                            <td></td>
                            <td></td>
                            <td th:text="*{actualPrice}">200 USD</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <p><strong>Total: <span th:text="${order.totalPrice}">3000.0</span><span> USD</span></strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="well well-sm">
                    <strong>Personal Info</strong>
                </div>
                <p><strong>Name:</strong> <span th:text="${order.fullName}">Some Name</span></p>
                <p><strong>E-mail:</strong> <span th:text="${order.email}">example1999@gmail.com</span></p>
                <p><strong>Phone:</strong> <span th:text="${order.phone}">+41-30-2352586</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-6">
                <div class="well well-sm">
                    <strong>Billing Info</strong>
                </div>
                <p><strong>Country:</strong> <span th:text="${order.billingCountry}">Hungary</span></p>
                <p><strong>City:</strong> <span th:text="${order.billingCity}">Budapest</span></p>
                <p><strong>Zip Code:</strong> <span th:text="${order.billingZipCode}">1234</span></p>
                <p><strong>Address:</strong> <span th:text="${order.billingAddress}">Hungary</span></p>
            </div>
            <div class="col-xs-6 col-lg-6">
                <div class="well well-sm">
                    <strong>Shipping Info</strong>
                </div>
                <p><strong>Country:</strong> <span th:text="${order.shippingCountry}">Hungary</span></p>
                <p><strong>City:</strong> <span th:text="${order.shippingCity}">Budapest</span></p>
                <p><strong>Zip Code:</strong> <span th:text="${order.shippingZipCode}">1234</span></p>
                <p><strong>Address:</strong> <span th:text="${order.shippingAddress}">Hungary</span></p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-12 text-center">

            <form th:action="@{~/payment}" method="POST">
                <select th:each="pMethod : ${paymentMethods}" name="paymentMethod">
                    <option th:text="${pMethod}"></option>
                </select>
                <input type="submit" class="btn btn-success add-to-cart">
            </form>

            <a class="btn btn-default" role="button" href="/checkout?back=1">Back to Checkout</a>

        </div>

    </div>

</div>

</th:block>

</body>

</html>
